@model TabloidMVC.Models.ViewModels.PostDetailViewModel

@{
    ViewData["Title"] = $"Post - {"Model.Post.Title"}";
}

<div class="container pt-5">
    <div class="post">
        <section class="px-3">
            <div class="row justify-content-between">
                <h1 class="text-secondary">@Model.Post.Title</h1>
                <h1 class="text-black-50">@Model.Post.Category.Name</h1>
            </div>
            <div class="row justify-content-between">
                <p class="text-secondary">Written by @Model.Post.UserProfile.DisplayName</p>
                <p class="text-black-50">Published on @Html.DisplayFor(model => model.Post.PublishDateTime)</p>
            </div>
            <div class="row">
                <a asp-action="Edit" asp-route-id="Post.Id" class="btn btn-outline-primary mx-1" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a asp-action="Delete" asp-route-id="Post.Id" class="btn btn-outline-primary mx-1" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </section>
        <hr />
        @if (!string.IsNullOrWhiteSpace(Model.Post.ImageLocation))
        {
            <section class="row justify-content-center">
                <div>
                    <img src="@Model.Post.ImageLocation" />
                </div>
            </section>
        }
        <section class="row post__content">
            <p class="col-sm-12 mt-5">@Html.DisplayFor(model => model.Post.Content)</p>
        </section>
    </div>
</div>

<div class="container pt-5">
    <h4>Tags for this post:</h4>
    <ul>
        @foreach (var postTag in Model.PostTagByPostId)
        {
            <li value="@postTag.Id">@postTag.Tag.Name</li>
        }
    </ul>
</div>

<div class="container pt-5">
    <input type="button" value="Tag Management" onclick="location.href='@Url.Action("Edit", "PostTag", new {id = Model.Post.Id })'" class="btn btn-primary" />
    <input type="button" value="Add Comment" onclick="location.href='@Url.Action("Create", "Comment", new { id = Model.Post.Id })'" class="btn btn-primary" />
</div>
