@model TabloidMVC.Models.ViewModels.PostTagFormViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="card col-md-12 col-lg-8">
            <h3 class="mt-3 text-primary text-center card-title">Add Tags to @Model.Post.Title!</h3>
            <form class="mt-5 card-body" asp-action="Edit">
                <div class="form-group">
                    <input asp-for="Post.Id" type="hidden" />
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @foreach (var tag in Model.TagOptions)
                    {
                        <input id="tag.Id" name="tag.Id" type="checkbox" value="@tag.Id">
                        @Html.Label(tag.Name)
                        <span asp-validation-for="PostTag.TagId" class="text-danger"></span>
                        <br />

                        @foreach (var postTag in Model.PostTags)
                        {
                            if (postTag.Id == tag.Id)
                            {

                            <input id="tag.Id" name="tag.Id" type="checkbox" value="@tag.Id" checked>
                          @Html.Label(tag.Name)
                          <span asp-validation-for="PostTag.TagId" class="text-danger"></span>
                          <br />

                            }
                        }
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
